body {
    background-color: #ff5e5e;
}

h1 {
  color: white;
}

.navbar {
    width: 100%;
    background-color: #9d00ff;
    padding: 1%;
    margin: 0;
}

.title {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the content */
  text-align: center; /* Horizontally center the text */
}

.contents {
    display: flex;
    justify-content: space-around;
}

#chat-messages {
    height: 90%;
    overflow: scroll;
  background-color: #ffffff;
}

.chat {
    /*height: 10%;*/
    width: 70%;
    padding: 20px;
    
}

#chat-button {
    padding: 10px;
    margin-bottom: 10px;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    cursor: pointer;
}

#chat-button:hover {
    background-color: #04d9ff;
}

.insert_image_icon {
    height: 5%;
    width: 5%;
}