body {
    background-color: #ff5e5e;
    overflow: hidden;
}

h1 {
  color: white;
}

.navbar {
    width: 100%;
    background-color: #403e47;
    padding: 1%;
    margin: 0%;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the content */
  text-align: center; /* Horizontally center the text */
  margin-top: 40px;
}

.contents {
    display: flex;
    justify-content: space-around;
}

#chat-messages {
    height:550px;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-around;
    padding: 5px;
    /* outline: 5px solid rgb(0, 251, 255); */

}

.chat {
    /*height: 10%;*/
    width: 70%;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    /* outline: 5px solid black; */

}

#chat-button {
    padding: 10px;
    margin-bottom: 10px;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    cursor: pointer;
    vertical-align: bottom;
    padding: 10px;
}

#chat-button:hover {
    background-color: #04d9ff;
}

.insert_image_icon {
    height: 5%;
    width: 5%;
}

.my_image {
    height: auto;
    width: 400px;
}

.input-file-icon img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: baseline;
}

.input-file-icon {
    padding: 10px;
}

.ProfilePic {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-size: cover;
}

.close {
    font-size: 24px; /* Adjust the font size as needed */
    padding: 10px; /* Optional: Adjust padding for spacing */
}